# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/

# Local env
.env
.venv/
env/

# Conda
conda-meta/

# Node/frontend
node_modules/
dist/
build/

# OS/editor
.DS_Store
.idea/
.vscode/
